body {
    margin: 0;
    overflow: hidden;
    background-color: #272822;
}

canvas {
    display: block;
}

/* Make the canvas focusable */
canvas:focus {
    outline: none;
}

/* Settings Panel Styling */
#settingsPanel {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(40, 40, 40, 0.9);
    color: #F8F8F2;
    padding: 10px;
    border-radius: 5px;
    display: none; /* Hidden by default */
    z-index: 10;
}

#settingsPanel label {
    display: block;
    margin-bottom: 5px;
}

#settingsPanel select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #3E3D32;
    color: #F8F8F2;
    border: none;
    border-radius: 3px;
}

#settingsButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(40, 40, 40, 0.9);
    color: #F8F8F2;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}
